.input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    color: #555555;
    background: #fff;

    @media (max-width: 430px) {
        padding: 10px;
    }

    border-radius: 8px;

    &::placeholder {
        font-size: 14px;
        color: #b0b0b0;
    }

    &:focus {
        border-color: #ccc;
        outline: none; 
        box-shadow: 0 0 8px 2px rgba(34, 60, 80, 0.2); 
    }
}
